style.css
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
a,
 a:visited{
	text-decoration: none;
}
html,
body{
	height: 100%;
	line-height: 1;
}
ul, 
li, 
ol{
	list-style: none;
}
img{
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: Rubik;
	font-size: 12px;
	color: #616161;
}
[class*="__container"] {
	max-width: 1087px;
	margin: 0px auto;
	padding: 0 15px;
}
@media (max-width: 1057px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 114px;
	align-items: center;
}

.header__logo {
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
	display: flex;
	justify-content: right;
	padding: 0 40px 0 0;
}
.menu__list {
	display: flex;
	gap: 40px;
}
@media (max-width: 991.98px) {
	.menu__list {
		gap: 27px;
	}
}
.menu__link {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #000;
}
.menu__link:hover {
	text-decoration: underline;
}
.header__actions {
	position: relative;
	z-index: 5;
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;

}
@media (max-width: 991.98px) {
	.header__actions {
		flex: 0 0 169.98px;
	}
}
@media (max-width: 767.98px){
	.header__container {
		min-height: 80px;
	}

	.menu__body{
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		background-color: #fff;
		padding: 90px 15px 30px 15px;
		transition: 0.3s ease 0s;
		overflow: auto;
	}
	.header:target .menu__body {
		left: 0;
	}
	
	.menu__list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__item{
		gap: 23px;
	}
	.menu__link{
		color: #000;
		font-size: 20px;
	}
	.menu__icon__close,
	.menu__icon {
		display: flex;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
		margin: 10px 0 0 20px;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
		background-color: #000;
		height: 2px;
	}
	.menu__icon span {
		background-color: #000;
		height: 2px;
	
	}	
	.menu__icon__close::before,
	.menu__icon__close::after {
		content: "";
		background-color: #000;
		height: 2px;
		transform-origin: 0 0;
	}
	.menu__icon__close::before{
		transform: rotate(34deg);
	}
	.menu__icon__close::after{
		transform: rotate(-40deg);
	}
	.menu__icon__close {
		display: none;
	}
	.header:target .menu__icon {
		display: none;
	}
	.header:target .menu__icon__close {
		display: flex;
	}
}
.header__actions .button{
	padding: 14px 20px;

}
.button {
	display: inline-block;
	font-family: Raleway;
	font-size: 10px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FCFDFE;
	padding: 14px 31.25px;
	border-radius: 5px;
	background: #EC5863;
	transition: 0.3s ease 0s;
}
.button:hover {
	background: #b31333;
}
.button_blue {
	background: #4285F4;
}
.button_blue:hover {
	background: #0e48ad;
}
@media (max-width: 479.98px){
	.header__logo {
		overflow: hidden;
	}
}
.main{
	flex: 1 1 auto;
}
/* ============================text================================= */ 
.text-block__title {
font-family: Rubik;
font-size: 44px;
font-weight: 700;
line-height: 126%;
color: #000000;
}
.text-block__title:not(:last-child){
	margin: 0px 0px 12px 0px;
}
.text-block__title span {
	color: #EC5863;
}
.text-block__title_blue span {
	color: #4285F4;
}
.text-block__text {
	line-height: 138.5%;
}
.text-block__text:not(:last-child){
	margin: 0px 0px 24px 0px;
}
/* ============================MAIN================================= */ 
.get-started {
	background: #FAFBFD;
}
.get-started__container {
	padding: 150px 15px 50px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.get-started__container::before{
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	right: 267px;
	top: 0;
	border-radius: 20px 0px 0px 20px;
	background-color: #EC5863;
	transform: translate(100%, 0px);
}
.content__get-started {
	flex: 0 1 48%;
	padding: 0px 20px 0px 20px;
}
.get-started__text-block {
	max-width: 410px;
}
.get-started__video {
	padding: 60px 0px 0px 20px;
	flex: 1 1 100%;
}
.image__get-started {
	position: relative;
	z-index: 2;
	flex: 0 1 52%;
}
.image__get-started img {
	max-width: 100%;
}
.video-get-started {
	align-items: center;
	display: inline-flex;
}
.video-get-started__icon {
	flex: 0 0 44px;
}
.video-get-started__body {
	padding: 0px 0px 0px 12px;
}
.video-get-started__body:not(:last-child){
	margin: 0px 0px 5px 0px;
}
.video-get-started__title {
	color: #B0B0B0;
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 1.5px;
}
.video-get-started__text {
	font-size: 9px;
	line-height: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
}
@media(max-width: 991.98px){
	.get-started__container::before{
		right: 185px;
	}
}
@media(max-width: 767.98px){
	.get-started__container{
		padding: 70px 15px 30px 15px;

	}
	.get-started__container::before{
		right: 220px;
		display: none;
	}
	.get-started__text-block {
		max-width: none;
	}
	.content__get-started{
		flex: 1 1 100%;
		padding: 0;
	}
	.image__get-started{
		flex: 1 1 100%;
		text-align: center;
		padding: 30px 0;
	}
	.get-started__video {
		padding: 0;
	}
	.text-block__title {
	font-size: 34px;
	}
}
/* ============================sec2================================= */ 
.stay-safe {
	padding: 80px 0;
}
.stay-safe__container {
	display: flex;
	align-items: center;
}
.stay-safe__media {
	flex: 0 1 50%;
	padding: 0px 0px 0px 47px;
}
.stay-safe__content {
	flex: 0 1 50%;
}
.media-stay-safe {
	text-align: center;
	width: 373px;
	padding: 56px 0px 27px 0px;
	position: relative;
}
.media-stay-safe__image {
	display: inline-block;
	box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	position: relative;
	width: 61.5%;
}
.media-stay-safe__image img {
	position: relative;
	z-index: 5;
	max-width: 100%;
}
.media-stay-safe__image::after {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 12px;
	right: 12px;
	width: 89%;
	height: 27px;
	background: rgba(240, 240, 240, 0.49);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	z-index: 2;
}
.media-stay-safe__item {
	position: absolute;
	background-color: #EC5863;
	border-radius: 30px;
}
.media-stay-safe__1 {
	top: 0;
	left: 0;
	width: 147px;
	height: 147px;
}
.media-stay-safe__2 {
	width: 77px;
	height: 77px;
	left: 32px;
	bottom: 13px;
}
.media-stay-safe__3 {
	width: 77px;
	height: 77px;
	bottom: 107px;
	right: 34px;
}
@media(max-width: 991.98px){
	.stay-safe {
		padding: 40px 0px;

	}
	.media-stay-safe {
		padding: 0px 0px 0px 47px;

	}
	.media-stay-safe__2 {
		width: 77px;
		height: 77px;
		left: 60px;
		bottom: -10px;
	}
}
@media(max-width: 767.98px){
	.stay-safe__container{
		flex-direction: column-reverse;
	}
	.stay-safe__content{
		margin: 0px 0px 30px 0px;
	}
	.media-stay-safe {
		width: 290px;
	}
	.stay-safe__media{
		padding: 0;
	}

}
/* ============================sec3================================= */ 
.experts {
	background-color: #FAFBFD;
	padding: 103px 0px 116px 0px;
}
.experts__container {
}
.experts__statistics {
}
.experts__content__text-block {
	max-width: 400px;
	padding: 0px 30px 0px 0px;
}
.experts__body{
	display: flex;
	align-items: center;
	width: 100%;
}
.experts__content__text-block {
	flex: 0 1 50%;
}
.experts__video{
	flex: 0 1 50%;
	padding: 0px 0px 30% 0px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
}
.experts__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.statistics-experts {
	max-width: 655px;
	margin: 0px auto;
	position: relative;
}
.statistics-experts__body {
	position: relative;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
	position: absolute;
	background-color: #EC5863;
	border-radius: 30px;
}
.statistics-experts__decor_1 {
	width: 65.75px;
	height: 65.75px;
	border-radius: 16px;
	transform: rotate(-30deg);
	bottom: -21px;
	left: -21px;
}
.statistics-experts__decor_2 {
	width: 96.96px;
	height: 96.96px;
	transform: rotate(105deg);
	right: 50%;
	top: -40px;
}
.statistics-experts__decor_3 {
	width: 127.47px;
	height: 127.47px;
	transform: rotate(-30deg);
	right: -50px;
	top: 0px;
}
.body-statistics-experts {
	display: flex;
	align-items: center;
	padding: 25px 80px;
}
.body-statistics-experts__items {
	flex: 1 1 auto;
}
.body-statistics-experts__value {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 2px;
	color: #EC5863;
	text-align: center;
	margin-bottom: 5px;
}
.body-statistics-experts_text {
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1.8;
	letter-spacing: 4px;
	font-weight: 700;
	text-align: center;
	color: #000;
}
@media(max-width: 991.98px){
	.experts__body{
		flex-direction: column;
		align-items: stretch;
	}
	.experts__video{
		padding: 0px 0px 58% 0px;
	}
	.experts__content__text-block{
		padding: 0;
		margin-bottom: 30px;
	}
}
@media(max-width: 767.98px){
	.body-statistics-experts{
		gap: 18px;
		flex-direction: column;
	}

}
.text-block_center {
	text-align: center;
}
.text-block__text_mw {
	max-width: 620px;
	margin: 0px auto;
}
/*=====================================================================================*/
.healthcare {
	padding: 80px 0px 30px 0px;
}

.healthcare__text-block {
	margin: 0px 0px 45px 0px;
}
.healthcare__items {
	display: flex;
	max-width: 980px;
	margin: 0px auto;
	gap: 72px;
	position: relative;
	z-index: 4;
}
.healthcare__item {
	flex: 0 1 33.333%;
}
.item-healthcare {
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 17px;
	text-align: center;
	position: relative;
	z-index: 3;
}
.item-healthcare__icon {
	margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
	font-family: Rubik;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.08em;
	margin-bottom: 4px;
}
.item-healthcare__text {
	font-family: Rubik;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 1.33px;
}
.healthcare__decor{
	position: absolute;
    background-color: #EC5863;

} 
.healthcare__decor_1 {
	width: 65.75px;
	height: 65.75px;
	border-radius: 16px;
	transform: rotate(-30deg);
	bottom: -30px;
	left: -15px;
}
.healthcare__decor_2 {
	width: 96.96px;
	height: 96.96px;
	border-radius: 30px;
	transform: rotate(105deg);
	top: 40px;
	left: 23.5%;
}
.healthcare__decor_3 {
	width: 127.47px;
	height: 127.47px;
	border-radius: 30px;
	transform: rotate(-30deg);
	bottom: -26px;
	right: 28%;
}
.healthcare__decor_4 {
	position: absolute;
	width: 65.75px;
	height: 65.75px;
	border-radius: 16px;
	transform: rotate(-30deg);
	top: -36px;
	right: -20px;
}
@media(max-width: 514.98px){

	.healthcare__items {
		display: flex;
		margin: 0px auto;
		gap: 72px;
		position: relative;
		z-index: 4;
		max-width: 300px;
		flex-direction: column;
}
.healthcare__decor_1{
	visibility: hidden;
}
}
/*============================================================*/
.footer {
}
.footer__container {
}
.footer__items {
	padding: 70px 0px 40px 0px;
	gap: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__item {
}
@media(max-width: 514.98px){
	.footer__items {
		flex-direction: column;
		gap: 10px;
	}
}